<nav class="navbar navbar-dark bg-primary px-3">
  <div class="py-2">
    <a href="/" class="navbar-brand">Jeff Rossi</a>
    <span>Software Developer</span>
  </div>
  <div>
    <ul class="nav bg-primary">
      <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/contact">Contact</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/employment">Employment</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/education">Education</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/references">References</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/testimonials">Testimonials</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/links">Links</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="/resume">Resume</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
