<app-bread-crumb-trail [trail]="trail"></app-bread-crumb-trail>
<div class="card">
    <div class="card-body">
        <h4 *ngIf="formatName(reference.Name)" class="card-title">{{ formatName(reference.Name) }}</h4>
        <div *ngIf="reference.Company">
            <span>Company:</span>
            {{ reference.Company }}
        </div>
        <div *ngIf="reference.Title">
            <span>Title:</span>
            {{ reference.Title }}
        </div>
        <div *ngIf="formatAddress(reference.Address)">
            <span>Address:</span>
            {{ formatAddress(reference.Address) }}
        </div>
    </div>
</div>
<div class="card" *ngIf="reference.Phones && reference.Phones.length > 0">
    <div class="card-body">
        <div class="card-subtitle">Phone</div>
        <div *ngFor="let phone of reference.Phones">
            {{ phone.Number }}
            <span class="mx-4" *ngIf="phone.Extension">ext: {{ phone.Extension }}</span>
        </div>
    </div>
</div>
<div class="card" *ngIf="reference.Emails && reference.Emails.length > 0">
    <div class="card-body">
        <div class="card-subtitle">Email</div>
        <div *ngFor="let email of reference.Emails">{{ email.Address }}</div>
    </div>
</div>
<div class="card" *ngIf="reference.Comments && reference.Comments.length > 0">
    <div class="card-body">
        <div class="card-subtitle">Comment</div>
        <div *ngFor="let comment of reference.Comments">
            {{ comment.Message }}
        </div>
    </div>
</div>